@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;

0,700;1,400;1,700&display=swap);:root {
  --primary-color: #0282f9;
  --secondary-color: #1c1c1c;
  --terzo-color: #303030;
  --white: #ffff;
  --container-md: 75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  list-style: none;
  background-color: white;
  height: 7.5rem;
  justify-content: center;
}

.header__container {
  display: flex;
  list-style: none;
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
  align-items: center;
}

.header__logo {
  width: 50%;
}

.header__nav ul {
  display: flex;
  list-style: none;
}

.header__nav ul a {
  color: var(--terzo-color);
  margin: 0.625rem;
  padding-bottom: 2.75rem;
  text-decoration: none;
  font-weight: bold;
}

.header__nav ul .active a:hover {
  border-bottom: 0.3125rem solid var(--primary-color);
  color: var(--primary-color);
}

